body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C6E7FF;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}

.navbar {
    background-color: #D4F6FF;
    border-radius: 0.5em 0 0 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25vw;
    justify-content: space-between;
}

.navtitle {
    padding: 1em;
}

.navbar > ul {
    padding: 0.5em;
}

.navbar > ul > li {
    width: fit-content;
    list-style: none;
    padding: 2.5em 0.5em 2.5em 0.5em;
}

.botnav {
    background-color: #FFDDAE;
    border-radius: 0.5em;
    /* margin: 1em; */
    padding: 0.5em;
}

.main {
    background-color: #C6E7FF;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    gap: 1em;
}

.maindate ,.mainabovecourse{
    display: flex;
    justify-content: space-between;
    padding: 0 1em 1em 1em;
    width: 80%;
}

.mainwelcome {
    background-color: #FBFBFB;
    width: 80%;
    padding: 1em;
    border-radius: 0.5em;
}

.mainwelcome > p {
    width: fit-content;
    padding: 0.5em;
    margin: 0;
}

.mainstat {
    background-color: #FBFBFB;
    width: 80%;
    padding: 1em;
    /* border: 2px solid #c4c4c4; */
    border-radius: 0.5em;
}

.mainstat > ul {
    padding: 0.5em;
}

.split, .mainstat > ul > li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mainstat > ul > li {
    padding: 0.5em 0 0.5em 0;
}

.maincourse {
    background-color: #D4F6FF;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 1em;
    /* border: 2px solid #FBFBFB; */
    border-radius: 0.5em;
    gap: 1em;
    overflow-x: scroll;
    scrollbar-color: #FBFBFB #D4F6FF;
}

.courseitems {
    display: flex;
    display: row;
    gap: 1em;
    padding: 0.5em;
    background-color: #FFDDAE;
    border-radius: 0.5em;
    min-width: 150px;
    justify-content: space-between;
    align-items: center;
}

.courseitems > div:last-child {
    width: 70%;
    padding: 0;
}

.courseitems > div:first-child {
    background-color: #FBFBFB;
    border-radius: 0.5em;
    min-width: none;width: 40px;
    min-width: none;height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #D4F6FF;
    border-radius: 0 0.5em 0.5em 0;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.profile > div > img {
    border-radius: 50px;
    height: 90px;
    width: 90px;
    border: 1px solid #C6E7FF;
}

.reminder {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: scroll;
}

.smallnav {
    display: none;
}

.smallitems {
    flex-grow: 1;
    /* background-color: lightblue; */
    /* border-radius: 0.5em; */
    border-right: 1px solid #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.smallitems:last-child {
    border: none;
}

@media only screen and (max-width: 800px) {
    .navbar {
        display: none;
    }

    .profile {
        display: none;
    }

    .main {
        width: calc(100% - 2em);
        /* padding: 5em; */
        height: 100vh;
        justify-content: space-between;

    }

    .container {
        flex-direction: column;
        margin-bottom: calc(60px + 1em);
        align-items: center;
        justify-content: stretch;
    }

    .smallnav {
        display: flex;
        /* position: sticky;
        top: 0; */
        /* position: absolute;
        bottom: 0vh; */
        position: fixed;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        min-height: 60px;
        min-width: calc(100% - 1em);
        padding: 0.5em;
        /* gap: 0.5em; */
    }
}